---
BasedOnStyle: Google
BreakBeforeBraces: Linux
AlignAfterOpenBracket: DontAlign
AlignConsecutiveAssignments: "false"
AllowShortBlocksOnASingleLine: "false"
AllowShortCaseLabelsOnASingleLine: "false"
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: "false"
AllowShortLoopsOnASingleLine: "false"
ColumnLimit: "120"
ConstructorInitializerAllOnOneLineOrOnePerLine: "true"
ConstructorInitializerIndentWidth: "4"
IndentCaseLabels: "false"
IndentWidth: "4"
Language: Cpp
NamespaceIndentation: None
SpaceInEmptyParentheses: "false"
Standard: Auto
TabWidth: "4"
UseTab: Never
